/* UP/DOWN DUB LIST */
.grablistheader h1,
.downdublistheader h1,
.updublistheader h1 {
    color: #878c8e !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px !important;
}
.grablistpeople p {
	color: #CC5A93 !important;
}
.downdublistpeople p {
	color: #FF4060 !important;
}
.grablistheader h1,
.grablistpeople p,
.downdublistheader h1,
.downdublistpeople p,
.updublistheader h1,
.updublistpeople p {
	margin: 5px !important;
	color: #93CC5A;
	font-weight: 700;
	font-size: 13px;
}
.grablistheader,
.downdublistheader,
.updublistheader {
	margin-top: 10px;
}
.grablistpeople,
.downdublistpeople,
.updublistpeople {
	border-top: 2px solid #878c8e;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.grablist,
.downdublist,
.updublist {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
    background: #1a1a1a;
    position: fixed;
    bottom: 55px;
    right: 0;
    max-height: calc(100% - 113px);
    min-width: 150px;
    width: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 1 !important;
    z-index: 5;
}
/* UP/DOWN DUB LIST */

/* OTHER N' COLOURS */
.remight,
.CMSbroken {
	color: #FF4060 !important;
}
.mitchbg,
.pizza {
	width: 100vw;
	height: 100vh;
	z-index: -999998;
	position: fixed;
	background-size: cover;
	top: 0;
}
.CMSbg {
	width: 100vw;
	height: 100vh;
	z-index: -999998;
	position: fixed;
	background-size: cover;
	top: 0;
}
.CMSconfirm {
	cursor: pointer;
	color: #93CC5A;
	display: inline-block;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
	position: relative;
	bottom: 1px;
}
.CMSdisabled {
	color: #FFFFFF;
}
.CMSenabled {
	color: #5A93CC;
}
.CMSEbtn {
	cursor: pointer;
}
.myinput {
	display: none;
}
.input {
	background-color: #343434;
	resize: none;
}
#main_player .player_header span.active,
#main_player .player_header span {
    opacity: 1;
}
/* OTHER N' COLOURS */

/* CMS CHAT */
.chat-system-loading,
.system,
.system-userudub,
.system-userddub,
.system-userjoin,
.system-userleave {
	text-align: center;
}
.system,
.system-userddub,
.system-userleave {
	font-weight: 700;
	color: #FF4060;
}
.system-userudub,
.system-userjoin {
	font-weight: 700;
	color: #93CC5A;
}
.system-usergrab {
	font-weight: 700;
	color: #CC5A93;
}
/* CMS CHAT */

/* CMS MENU */
.main_content {
	display: none;
	position: absolute;
	width: 300px;
	height: auto;
	max-height: calc(100% - 114px);
	overflow-y: scroll;
	overflow-x: hidden;
	background: #1a1a1a;
	opacity: .98;
    z-index: 9;
}
::-webkit-scrollbar {
	display: none;
}
.main_content_ver {
	display: block;
    padding: 0 1rem;
    font-weight: 700;
	text-transform: uppercase;
	color: white;
    font-size: 16px;
    margin-top: 1rem;
}
.main_content_version {
    padding: 0 1rem;
    color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
}
.main_content_ul {
	padding: 1rem 1rem;
}
.main_content_li {
	cursor: pointer;
}
.main_content_c {
	border-bottom: 1px solid white;
}
.main_content_off {
	display: inline-block;
	color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
	position: relative;
	bottom: 1px;
	float: right;
}
.main_content_p {
	display: inline-block;
	color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
	position: relative;
	bottom: 1px;
}
/* CMS MENU */

/* CMS SPECIAL */
ul.avatar-list li.user-kris,
ul.avatar-list li.user-muchlove,
ul.avatar-list li.user-st34lth,
#chat .chat-container .chat-messages .chat-main li.user-566a5e6d237a03b000087d3b .stream-item-content::before:hover,
#chat .chat-container .chat-messages .chat-main li.user-566a5e6d237a03b000087d3b .image_row:hover,
#chat .chat-container .chat-messages .chat-main li.user-55ffc4d41564a403003f52b9 .stream-item-content::before:hover,
#chat .chat-container .chat-messages .chat-main li.user-55ffc4d41564a403003f52b9 .image_row:hover,
#chat .chat-container .chat-messages .chat-main li.user-55ffc4d41564a403003f52b9 .activity-row .text a.username:hover,
#chat .chat-container .chat-messages .chat-main li.user-55ff52375335f703008b0d38 .image_row:hover,
#chat .chat-container .chat-messages .chat-main li.user-55ff52375335f703008b0d38 .activity-row .text a.username:hover {
	cursor: url('https://mitchdev.net/cms/xp-middle-finger.cur'), pointer !important;
}
p.user-mitch,
ul.avatar-list li.user-mitch p.dubs:before,
ul.avatar-list li.user-mitch p.username:after,
ul.avatar-list li.user-mitch p.username {
	color: #AA74FE !important;
}
ul.avatar-list li.user-kris p.dubs:hover:before {
	content: "Developer - " !important;
}
ul.avatar-list li.user-mitch p.dubs:hover:before {
	content: "Developer & Owner - " !important;
}
ul.avatar-list li.user-kris p.dubs:before,
ul.avatar-list li.user-mitch p.dubs:before {
	content: "CMS - " !important;
}
#avatar-list li.currentDJ p.username:after {
	content: "-  DJ";
}
#avatar-list li.admin p.username:after {
	content: "-  Admin";
}
#avatar-list li.creator p.username:after {
	content: "-  Creator";
}
#avatar-list li.co-owner p.username:after {
	content: "-  Co-owner";
}
#avatar-list li.manager p.username:after {
	content: "-  Manager";
}
#avatar-list li.mod p.username:after {
	content: "-  Mod";
}
#avatar-list li.vip p.username:after {
	content: "-  VIP";
}
#avatar-list li.resident-dj p.username:after {
	content: "-  Resident DJ";
}
/* CMS SPECIAL */


/* MOBILE */
@media (max-width: 1151px) {
	.main_content {
		margin-top: 37px;
		width: 100%;
		height: auto;
		max-height: calc(100% - 207px);
	}
}
@media (max-width: 767px) {
	.main_content {
		background: #1a1a1a !important;
	}
}
/* MOBILE */
